html
{
    /* On fixe le background dans l'angle et on le laisse s'etirer en fonction de la taille de la page*/
    margin:0;
    padding:0;
    background-image: url(../img/luigi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body
{
    margin-top: 5%;
    width: 57%;
    padding-left: 5%;
}

#main
{
    display: flex;
    background-color: white;
    padding: 50px;
    border-radius: 50px;
}

h1
{
    color:#555;
    text-align:center;
    font-size: 30px;
    ;
}

h2
{
    color:#555;
}

h3
{
    color:#555;
    text-align: center;
}

ul
{
    list-style-type: none;
    background-color: #f1f1f1;
    padding: 0;
}

li a
{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
}

li a.ouvert
{
    background-color: #4CAF50;
    color: white;
}

li a:hover
{
    background-color: #555;
    color: white;
}

.texte
{
    text-align:justify;
    padding-left: 50px;
    flex: 1;
}

form > p
{
    display: flex;
}

form input
{
    flex:1;
}

form #coordonnees
{
    /* On enleve le cadre du fieldset, et on aligne les input */
    width: 45%;
    text-align: right;
    border: none;
}

form #radio
{
    /* On enleve le cadre du fieldset */
    border:none;
}

form #radio label
{
    /* On decale chaque radio du formulaire pour ne pas qu'il soit collé au texte */
    margin-right: 10px;
}

form #suggestion
{
    /* On enleve le cadre du fieldset */
    border:none;
}

form #bouton
{
    border:none;
    text-align: center;
}

footer p
{
    text-align: center;
    color: white;
}

table {
    /* On créer une table pour que les images aient toutes la même largeure et soient centrées */
    width: 100%;
    border-spacing: 20px;
}

table tr th img {
    /* L'image prend la largeure de la case */
    width:100%;
}